<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= locals.title %>
    </title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- External CSS -->
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- JQuery AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- External Scripts -->
    <script defer src="/scripts/home.js"></script>
    <script defer src="/scripts/aside.js"></script>
    <script defer src="/scripts/clearLocalStorage.js"></script>
  </head>

  <body>

    <!-- Navigation bar -->
    <section class="navv">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Keybells</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/user">Lessons <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/custom">Custom</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/challenges">Challenges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/ranking">Ranking</a>
            </li>
          </ul>
        </div>
        <ul>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/user/profile">Profile</a>
              <a class="dropdown-item" href="/user/sign-out">Sign Out</a>
            </div>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
          </li>
        </ul>
      </nav>
    </section>


    <!-- Levels section -->
    <section class="main-section">
      <!-- Div for custom para, random para and levels -->

      <!-- Custom and Random paragraphs -->
      <!-- <div class="custAndRand">
          <div class="custom"></div>
          <div class="random"></div>
        </div> -->



      <!-- Levels -->
      <div class="levels">

        <h3>Alphabet</h3>
        <div class="alphabet">
          <% for(let i=0;i<locals['alphabet'];i++){ %>

            <a>
              <div class="box">
                <h1>
                  <%= i+1 %>
                </h1>
                <div class="stars-container">
                  <div class="one"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="two"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="three"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="four"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="five"><i class="stars fas fa-star fa-3x"></i></div>
                </div>
              </div>
            </a>

            <% } %>
        </div>

        <h3>Advanced Level 1 (Goal 30 WPM)</h3>
        <div class="advanced-level1">
          <% for(let i=locals['alphabet'];i<locals['alphabet']+locals['advanced-level1'];i++){ %>

            <a>
              <div class="box">
                <h1>
                  <%= i+1 %>
                </h1>
                <div class="stars-container">
                  <div class="one"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="two"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="three"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="four"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="five"><i class="stars fas fa-star fa-3x"></i></div>
                </div>
              </div>
            </a>

            <% } %>
        </div>

        <h3>The Shift Key</h3>
        <div class="shift">
          <% for(let i=locals['alphabet']+locals['advanced-level1'];i<locals['alphabet']+locals['advanced-level1']+locals['shift'];i++){ %>

            <a>
              <div class="box">
                <h1>
                  <%= i+1 %>
                </h1>
                <div class="stars-container">
                  <div class="one"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="two"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="three"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="four"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="five"><i class="stars fas fa-star fa-3x"></i></div>
                </div>
              </div>
            </a>

            <% } %>
        </div>

        <h3>Advanced Level 2 (Goal 35 WPM)</h3>
        <div class="advanced-level2">
          <% for(let i=locals['alphabet']+locals['advanced-level1']+locals['shift'];i<locals['alphabet']+locals['advanced-level1']+locals['shift']+locals['advanced-level2'];i++){ %>

            <a>
              <div class="box">
                <h1>
                  <%= i+1 %>
                </h1>
                <div class="stars-container">
                  <div class="one"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="two"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="three"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="four"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="five"><i class="stars fas fa-star fa-3x"></i></div>
                </div>
              </div>
            </a>

            <% } %>
        </div>

        <h3>The Numbers</h3>
        <div class="numbers">
          <% for(let i=locals['alphabet']+locals['advanced-level1']+locals['shift']+locals['advanced-level2'];i<locals['alphabet']+locals['advanced-level1']+locals['shift']+locals['advanced-level2']+locals['numbers'];i++){ %>

            <a>
              <div class="box">
                <h1>
                  <%= i+1 %>
                </h1>
                <div class="stars-container">
                  <div class="one"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="two"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="three"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="four"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="five"><i class="stars fas fa-star fa-3x"></i></div>
                </div>
              </div>
            </a>

            <% } %>
        </div>

        <h3>Advanced Level 3 (Goal 45 WPM)</h3>
        <div class="advanced-level3">
          <% for(let i=locals['alphabet']+locals['advanced-level1']+locals['shift']+locals['advanced-level2']+locals['numbers'];i<locals['alphabet']+locals['advanced-level1']+locals['shift']+locals['advanced-level2']+locals['numbers']+locals['advanced-level3'];i++){ %>

            <a>
              <div class="box">
                <h1>
                  <%= i+1 %>
                </h1>
                <div class="stars-container">
                  <div class="one"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="two"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="three"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="four"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="five"><i class="stars fas fa-star fa-3x"></i></div>
                </div>
              </div>
            </a>

            <% } %>
        </div>

        <h3>The Symbols</h3>
        <div class="symbols">
          <% for(let i=locals['alphabet']+locals['advanced-level1']+locals['shift']+locals['advanced-level2']+locals['numbers']+locals['advanced-level3'];i<locals['alphabet']+locals['advanced-level1']+locals['shift']+locals['advanced-level2']+locals['numbers']+locals['advanced-level3']+locals['symbols'];i++){ %>

            <a>
              <div class="box">
                <h1>
                  <%= i+1 %>
                </h1>
                <div class="stars-container">
                  <div class="one"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="two"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="three"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="four"><i class="stars fas fa-star fa-3x"></i></div>
                  <div class="five"><i class="stars fas fa-star fa-3x"></i></div>
                </div>
              </div>
            </a>

            <% } %>
        </div>

      </div>



    </section>


    <!-- Aside section -->
    <section class="asidee">

      <div class="aside">
        <!-- <i class="iconn fas fa-star fa-3x"></i> -->
        <h4 class="" id="score">Score</h4>
      </div>

      <div class="aside">
        <!-- <i class="iconn fas fa-star fa-3x"></i> -->
        <h4 class="" id="progress">Progress</h4>
      </div>

      <div class="aside">
        <!-- <i class="iconn fas fa-star fa-3x"></i> -->
        <h4 class="" id="stars">Stars</h4>
      </div>

      <div class="aside">
        <!-- <i class="iconn fas fa-star fa-3x"></i> -->
        <h4 class="" id="avgwpm">Average WPM</h4>
      </div>

    </section>

    <!-- Button to show/hide aside -->
    <div id="hideAsidee">
      <img src="/images/eye-slash-solid.svg">
      Progress
    </div>


  </body>

</html>
